<div class="access-panel console terminal-console collapse">
  <div class="content-wrapper">
    <p class="panel-title">Console</p>
  </div>
  <div class="icon-rep">
    <i class="fas fa-terminal"></i>
  </div>
</div>
