<div class="access-panel console animation-console collapse">
  <div class="content-wrapper">
    <p class="panel-title">Animation</p>
    <div class="player">
      <!-- Expression -->
      <div class="animation-avatar animation-expression">
        <div class="eye-left"></div>
        <div class="eye-right"></div>
        <div class="brow-left"></div>
        <div class="brow-right"></div>
        <svg id="mouth"></svg>
      </div>
      <!-- Stick Figure -->
      <div class="animation-avatar animation-stick-figure">
        <div class="stick-figure walking"></div>
        <div class="stick-figure running"></div>
        <div class="stick-figure jumping"></div>
      </div>
    </div>
    <h4>Animation Avatar</h4>
    <div class="select avatar">
      <i class="fas fa-chevron-down"></i>
      <div class="selected"></div>
      <div class="options"></div>
    </div>
    <h4>Action</h4>
    <div class="select actions">
      <i class="fas fa-chevron-down"></i>
      <div class="selected"></div>
      <div class="options"></div>
    </div>
    <button class="fill generate-animation" type="button">
      Generate Block
    </button>
  </div>
  <div class="icon-rep">
    <i class="fas fa-play"></i>
  </div>
</div>
