<div class="access-panel console terminal-console collapse">
  <div class="content-wrapper">
    <p class="panel-title">Animatronics</p>
    <div class="motor-control">
      <p class="info">Motor</p>
      <input
        type="number"
        class="motor-input"
        placeholder="Motor Number"
        value="1"
      />
      <p class="info speed">Speed <span>0</span></p>
      <input
        type="range"
        class="slider speed-input"
        min="0"
        max="200"
        value="0"
      />
      <p class="info rotation">Rotation <span>0</span></p>
      <input
        type="range"
        class="slider rotation-input"
        min="-1000"
        max="1000"
        value="0"
      />
      <button class="fill generate-motor-block">Generate Block</button
      ><button class="fill test-motor-params">Test Parameters</button>
    </div>
  </div>
  <div class="icon-rep">
    <i class="fas fa-terminal"></i>
  </div>
</div>
