<header>
  <div class="tabs">
    <a href="/story"
      ><div class="tab <% if(tab=='story') {%>selected<%} %>">Story</div></a
    >
    <i class="transition-arrows fas fa-chevron-right"></i>
    <a href="/program"
      ><div class="tab <% if(tab=='program') {%>selected<%} %>">Program</div></a
    >
    <i class="transition-arrows fas fa-chevron-right"></i>
    <a href="/reading"
      ><div class="tab <% if(tab=='reading') {%>selected<%} %>">
        Reading
      </div></a
    >
  </div>
</header>
