<header>
  <div class="logo">
    <img src="img/Logo.png" alt="Madaari Logo" />
  </div>
  <div class="tabs">
    <a href="/story"
      ><div class="tab <% if(tab=='story') {%>selected<%} %>">
        <!-- <div class="number"><p>1</p></div> -->
        Story
      </div></a
    >
    <i class="transition-arrows fas fa-chevron-right"></i>
    <a href="/program"
      ><div class="tab <% if(tab=='program') {%>selected<%} %>">
        <!-- <div class="number"><p>2</p></div> -->
        Program
      </div></a
    >
    <i class="transition-arrows fas fa-chevron-right"></i>
    <a href="/reading"
      ><div class="tab <% if(tab=='reading') {%>selected<%} %>">
        <!-- <div class="number"><p>3</p></div> -->
        Reading
      </div></a
    >
  </div>
</header>
