<header>
  <div class="logo">
    <img src="img/Logo.png" alt="Madaari Logo" />
  </div>
  <div class="tabs">
    <a href="/story"
      ><div class="tab <% if(tab=='story') {%>selected<%} %>">
        <!-- <div class="number"><p>1</p></div> -->
        Story
      </div></a
    >
    <i class="transition-arrows fas fa-chevron-right"></i>
    <a href="/program"
      ><div class="tab <% if(tab=='program') {%>selected<%} %>">
        <!-- <div class="number"><p>2</p></div> -->
        Program
      </div></a
    >
    <i class="transition-arrows fas fa-chevron-right"></i>
    <a href="/reading"
      ><div class="tab <% if(tab=='reading') {%>selected<%} %>">
        <!-- <div class="number"><p>3</p></div> -->
        Reading
      </div></a
    >
    <div class="header-buttons">
      <% if(tab=='story') {%>
      <button class="story save-continue">
        <i class="fas fa-save"></i> Save Story
      </button>
      <%} %> <% if(tab=='program') {%>
      <button class="program save-code tooltip" aria-label="Save Program">
        <i class="fas fa-save"></i>
      </button>
      <button class="program check-code">
        <i class="fas fa-flask"></i> Check
      </button>
      <div class="code-console"></div>
      <button class="program upload">
        <i class="fas fa-cloud-upload-alt"></i> Upload
      </button>
      <%} %> <% if(tab=='reading') {%>
      <p class="dark-mode-label">Dark Mode</p>
      <div class="dark-switch">
        <div class="toggler"></div>
      </div>
      <button class="read trigger"><i class="fas fa-play"></i> Trigger</button>
      <div class="trigger-menu"></div>
      <%} %>
    </div>
  </div>
</header>
