<div class="access-panel console music-console collapse">
  <div class="content-wrapper"><p class="panel-title">Play Music</p></div>
  <div class="icon-rep">
    <i class="fas fa-music"></i>
  </div>
</div>
