<div class="access-panel access-story">
  <div class="content-wrapper">
    <p class="panel-title">Story</p>
    <p class="story">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur maxime
      id quae! Enim error amet dicta sint earum nostrum maxime, facere
      blanditiis quaerat culpa nam eum illum laborum, quo magni.
    </p>
    <p class="story">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur maxime
      id quae! Enim error amet dicta sint earum nostrum maxime, facere
      blanditiis quaerat culpa nam eum illum laborum, quo magni.
    </p>
    <p class="story">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur maxime
      id quae! Enim error amet dicta sint earum nostrum maxime, facere
      blanditiis quaerat culpa nam eum illum laborum, quo magni.
    </p>
    <p class="story">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur maxime
      id quae! Enim error amet dicta sint earum nostrum maxime, facere
      blanditiis quaerat culpa nam eum illum laborum, quo magni.
    </p>
    <p class="story">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur maxime
      id quae! Enim error amet dicta sint earum nostrum maxime, facere
      blanditiis quaerat culpa nam eum illum laborum, quo magni.
    </p>
    <p class="story">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur maxime
      id quae! Enim error amet dicta sint earum nostrum maxime, facere
      blanditiis quaerat culpa nam eum illum laborum, quo magni.
    </p>
    <p class="story">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur maxime
      id quae! Enim error amet dicta sint earum nostrum maxime, facere
      blanditiis quaerat culpa nam eum illum laborum, quo magni.
    </p>
    <p class="story">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur maxime
      id quae! Enim error amet dicta sint earum nostrum maxime, facere
      blanditiis quaerat culpa nam eum illum laborum, quo magni.
    </p>
    <p class="story">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur maxime
      id quae! Enim error amet dicta sint earum nostrum maxime, facere
      blanditiis quaerat culpa nam eum illum laborum, quo magni.
    </p>
  </div>
  <div class="icon-rep">
    <i class="fas fa-book-reader"></i>
  </div>
</div>
