<div class="access-panel access-story">
  <div class="content-wrapper">
    <p class="panel-title">Story</p>
    <p class="story">Loading...</p>
  </div>
  <div class="icon-rep">
    <i class="fas fa-book-reader"></i>
  </div>
</div>
