<% include ./partials/header %>
<div class="workspace program">
  <% include ./partials/story-access %> <% include ./partials/panel %>
  <div class="board">
    <div class="block trash" aria-label="trash">
      <div class="can">
        <i class="fas fa-bars fa-sm"></i>
        <div class="lid"></div>
      </div>
    </div>
  </div>
  <div class="consoles">
    <% include ./partials/music-console %> <% include ./partials/animation %> <%
    include ./partials/animatronics %>
  </div>
</div>
