<% include ./partials/header %>
<div class="workspace reading">
  <div class="story-reading">
    <p class="panel-title">Story</p>
    <div class="story-read">
      <p class="story-paragraph">
        Loading...
      </p>
    </div>
    <div class="autoscroll">
      <i class="fas fa-minus"></i>
      Autoscroll<span class="value">2</span><i class="fas fa-plus"></i>
    </div>
    <div class="speech-transcript"></div>
  </div>
  <div class="monitoring-tabs">
    <div class="collapse-button">
      <i class="fas fa-chevron-right arrow"></i>
    </div>
    <div class="collapsable-items">
      <div class="expression-stream">
        <div class="emoji"></div>
        <div class="start-stop">
          <span class="start"><i class="fas fa-play"></i></span>
          <span class="stop"><i class="fas fa-pause"></i></span>
        </div>
        <div class="expression-message">Loading Expression Detection</div>
      </div>
      <div class="animation-screen">
        <div class="player reading-player">
          <p class="panel-title">Screen</p>
          <!-- Expression -->
          <div class="animation-avatar animation-expression">
            <div class="eye-left"></div>
            <div class="eye-right"></div>
            <div class="brow-left"></div>
            <div class="brow-right"></div>
            <svg id="mouth"></svg>
          </div>
          <!-- Stick Figure -->
          <div class="animation-avatar animation-stick-figure">
            <div class="stick-figure walking"></div>
            <div class="stick-figure running"></div>
            <div class="stick-figure jumping"></div>
          </div>
        </div>
      </div>
      <div class="external-console">
        <div class="listening-active tooltip" aria-label="Toggle Listening">
          <span>Listening</span>
          <div class="circle"></div>
        </div>
        <p class="panel-title">Monitor</p>
        <div class="monitor-display"></div>
      </div>
    </div>
  </div>
</div>
