<% include ./partials/header %>
<div class="workspace">
  <div class="story-wrapper">
    <div class="database">
      <p class="panel-title">Our collection</p>
      <!-- <input class="story-search" placeholder="Search stories" /> -->
    </div>
    <textarea
      class="type-story"
      placeholder="Start typing or Paste your story"
    ></textarea>
    <div class="story-load-actions">
      <div class="take-picture tooltip" aria-label="Take a picture">
        <i class="fas fa-camera"></i>
      </div>
      <div class="upload tooltip" aria-label="Upload a picture">
        <i class="fas fa-cloud-upload-alt"></i>
      </div>
      <div class="narrate tooltip" aria-label="Narrate your story">
        <i class="fas fa-microphone-alt"></i>
      </div>
    </div>
  </div>
</div>
