<% include ./partials/header %>
<div class="workspace">
  <div class="story-wrapper">
    <div class="database">
      <p class="panel-title">Our collection</p>
      <div class="story-search">
        <input placeholder="Search stories" />
        <i class="fas fa-search fa-sm"></i>
        <div class="filter-button tooltip" aria-label="Filter">
          <i class="fas fa-filter fa-sm"></i>
        </div>
      </div>
      <div class="legend">
        <div class="programmed-icon"></div>
        <span>Contains Programmed Examples</span>
      </div>
      <div class="stories-data">
        <div class="story-item">
          <p class="story-name">Story Name</p>
          <p class="story-genre">Genre</p>
        </div>
        <div class="story-item">
          <p class="story-name">Story Name</p>
          <p class="story-genre">Genre</p>
        </div>
        <div class="story-item">
          <p class="story-name">Story Name</p>
          <p class="story-genre">Genre</p>
          <div class="programmed"></div>
        </div>
        <div class="story-item">
          <p class="story-name">Story Name</p>
          <p class="story-genre">Genre</p>
        </div>
        <div class="story-item">
          <p class="story-name">Story Name</p>
          <p class="story-genre">Genre</p>
          <div class="programmed"></div>
        </div>
        <div class="story-item">
          <p class="story-name">Story Name</p>
          <p class="story-genre">Genre</p>
        </div>
        <div class="story-item">
          <p class="story-name">Story Name</p>
          <p class="story-genre">Genre</p>
        </div>
        <div class="story-item">
          <p class="story-name">Story Name</p>
          <p class="story-genre">Genre</p>
        </div>
        <div class="story-item">
          <p class="story-name">Story Name</p>
          <p class="story-genre">Genre</p>
        </div>
      </div>
    </div>
    <textarea class="type-story" placeholder="Loading..."></textarea>
    <div class="story-load-actions">
      <div class="take-picture tooltip" aria-label="Take a picture">
        <i class="fas fa-camera"></i>
      </div>
      <div class="upload tooltip" aria-label="Upload a picture">
        <i class="fas fa-cloud-upload-alt"></i>
      </div>
      <div class="narrate tooltip" aria-label="Narrate your story">
        <i class="fas fa-microphone-alt"></i>
      </div>
    </div>
  </div>
</div>
