/*Mixins and Essentials*/

$sans: "Roboto", sans-serif;
$mono: "Inconsolata", sans-serif;

$light-gray: #e8eef1;
$tab-gray: #d3dde1;
$text-light: #a1b0b9;
$text-dark: #2a3135;
$primary-color: #ff6678;
$dark: #4c535b;

$trash-can: #a1b0b9;
$trash-border: #848e95;

$blue: #669aff;
$green: #57bd92;
$purple: #5965d6;
$yellow: #ffaf66;
$highlight: #ffc38b;
$overlap: #ffc38b;
$red: #e62b4a;
$orange: #ffa06f;

/* Dotted Background */
// Colors
$bg-color: rgb(255, 255, 255);
$dot-color: rgb(219, 225, 233);

// Dimensions
$dot-size: 2px;
$dot-space: 22px;

@mixin transition($time) {
  -webkit-transition: all$time ease;
  -moz-transition: all$time ease;
  -o-transition: all$time ease;
  transition: all$time ease;
}

@mixin smoothtransition($time) {
  -webkit-transition: all$time cubic-bezier(0.43, 0.13, 0.15, 0.99);
  -moz-transition: all$time cubic-bezier(0.43, 0.13, 0.15, 0.99);
  -o-transition: all$time cubic-bezier(0.43, 0.13, 0.15, 0.99);
  transition: all$time cubic-bezier(0.43, 0.13, 0.15, 0.99);
}

::-webkit-scrollbar {
  width: 14px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  border-radius: 18px;
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

/*Body*/

* {
  font-family: $sans;
}

body {
  margin: 0px;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: relative;
  width: 100%;
  height: 50px;
  background: #fff;
  box-shadow: 0px 0px 25px $light-gray;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000000;

  .logo {
    position: absolute;
    height: 25px;
    top: 50%;
    left: 25px;
    transform: translate(0, -50%);

    img {
      height: 100%;
    }
  }

  .header-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translate(0, -50%);

    button.save-continue,
    button.check-code,
    button.save-code,
    button.upload,
    button.trigger {
      position: relative;
      top: 0;
      padding: 10px 15px;
      background: $green;
      color: #fff;
      border: 0;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 1px;
      font-size: 0.7em;
      outline: none;
      border-radius: 5px;
      border-bottom: 4px solid rgba(0, 0, 0, 0.1);
      margin: 0px 2px;
      @include transition(0.2s);
      cursor: pointer;

      i {
        margin-right: 2px;
      }
    }

    button.trigger {
      background: $blue;
      display: none;
    }

    button.check-code {
      background: $blue;
    }

    button.save-code {
      background: none;
      color: $blue;
      border: 2px solid rgba(102, 154, 255, 0.1);

      i {
        margin: 0;
        transform: scale(1.2);
      }
    }

    button.save-code:active {
      transform: scale(0.9);
    }

    button.disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    button.save-continue:active,
    button.check-code:active,
    button.upload:active,
    button.trigger:active {
      top: 4px;
      border-bottom: 0px solid rgba(0, 0, 0, 0.1);
      //transform: scale(0.95);
    }

    .trigger-menu,
    .code-console {
      display: none;
      position: absolute;
      top: calc(100% + 2px);
      right: 0px;
      width: 180px;
      padding: 4px 0px;
      background: $text-dark;
      border-radius: 5px;
      box-shadow: 0px 5px 20px rgba(102, 154, 255, 0.1);
      z-index: 100000;

      .trigger-item,
      .compile-item {
        width: 100%;
        padding: 10px 0px;
        margin: 0px 0px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        cursor: pointer;
        @include transition(0.5s);

        p.trigger,
        p.compile-title {
          color: #fff;
          font-size: 0.6em;
          text-transform: uppercase;
          font-weight: 500;
          letter-spacing: 1px;
          width: 80%;
          margin: auto;
        }
      }

      .trigger-item:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }

    .code-console {
      top: calc(100% - 5px);
      opacity: 0;
      width: 180px;
      background: #fff;
      left: 0;
      max-height: 400px;
      overflow: auto;
      box-shadow: 0px 5px 20px rgba(102, 154, 255, 0.25);
      @include transition(0.3s);

      .compile-item {
        padding: 5px 0px;

        p.compile-title {
          width: 85%;
          color: $text-dark;

          i.error {
            color: $red;
          }

          i.success {
            color: $green;
          }

          i.warn {
            color: $yellow;
          }
        }

        p.compile-text {
          font-size: 0.65em;
          color: $text-light;
          font-weight: 400;
          width: 85%;
          margin: auto;
          margin-top: 5px;
          line-height: 1;
        }
      }
    }
  }
}

.tabs {
  width: 400px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .tab {
    padding: 8px 12px;
    min-width: 70px;
    text-align: center;
    background: #fff;
    color: $text-light;
    font-family: $sans;
    margin: 0px 10px;
    font-size: 1em;
    font-weight: 400;
    border-radius: 20px;
    cursor: pointer;
    @include transition(0.5s);

    .number {
      position: relative;
      top: -1px;
      height: 16px;
      width: 16px;
      margin-left: 0px;
      margin-right: 4px;
      background: $text-light;
      color: $tab-gray;
      border-radius: 100%;
      display: inline-block;
      vertical-align: middle;
      @include transition(0.5s);

      p {
        width: 20px;
        margin: 0px;
        padding: 0px;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        font-size: 0.7em;
        font-weight: 700;
        color: inherit;
      }
    }
  }

  .tab:hover {
    background: $light-gray;

    .number {
      background: $text-dark;
      color: #fff;
    }
  }

  i.transition-arrows {
    margin: 15px 0px;
    color: $light-gray;
  }

  .selected {
    background: #fff !important;
    color: $text-dark !important;
    font-weight: 500;
    border: 2px solid rgba(102, 154, 255, 0.2);
  }
}

.workspace {
  position: relative;
  width: 100%;
  margin-top: 50px;
  height: calc(100vh - 50px);
  background: #fff;
}

/*Program*/

.workspace.program {
  display: flex;
  //grid-template-columns: 350px 250px auto 50px;
  @include transition(0.5s);
}

.access-story {
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  width: calc(350px - 7.5px);
  height: calc(100% - 15px);
  margin: 7.5px 3.75px;
  border-radius: 8px;
  background: $light-gray;
  @include transition(0.5s);

  p.story {
    width: calc(100% - 40px);
    margin: 10px auto;
    text-align: justify;
    font-size: 0.8em;
    color: $text-light;
    line-height: 1.5;
  }
}

.selected-text {
  position: absolute;

  .generate-keyword-button {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -100%);
    background: $text-dark;
    border-radius: 5px;
    padding: 10px;
    white-space: nowrap;
    font-size: 0.7em;
    opacity: 0;
    color: #fff;
    user-select: none;
    cursor: pointer;
    @include smoothtransition(0.25s);
  }

  .generate-keyword-button:after {
    content: "";
    position: absolute;
    top: calc(100%);
    left: 50%;
    transform: translate(-50%, 0);
    height: 0;
    width: 0;
    border: 6px solid transparent;
    border-top: 6px solid $text-dark;
  }
}

.panel {
  width: calc(250px - 7.5px);
  height: calc(100% - 15px);
  margin: 7.5px 3.75px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid $light-gray;
  user-select: none;
  z-index: 1000;
}

p.panel-title {
  text-transform: uppercase;
  color: $text-light;
  font-weight: 600;
  width: calc(100% - 20px);
  padding: 15px 20px;
  padding-bottom: 5px;
  margin: 0px;
  font-size: 0.7em;
  letter-spacing: 2px;
}

div.blocks-title {
  color: $text-dark;
  font-weight: 400;
  width: calc(100% - 40px);
  padding: 10px 20px;
  margin: 5px 0px;
  font-size: 1em;
  cursor: pointer;

  i {
    margin-right: 5px;
    color: $text-light;
    transform: scale(0.8);
  }
}

div.blocks-title:hover {
  background: $light-gray;
}

div.blocks-title.open {
  background: $light-gray;
  i {
    transform: scale(0.8) rotate(90deg);
  }
}

.board {
  position: relative;
  width: calc(100vw - 650px);
  user-select: none;
  z-index: 0;
  background: linear-gradient(
        90deg,
        $bg-color ($dot-space - $dot-size),
        transparent 1%
      )
      center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
}

.consoles {
  width: calc(50px - 10px);
  height: calc(100% - 10px);
  margin: 5px;
  display: flex;
  flex-direction: column;
  //grid-template-rows: 33% 33% 34%;
  z-index: 10;
  @include transition(0.5s);
}

.console {
  position: relative;
  width: calc(100% - 10px);
  height: calc(33.3% - 5px);
  margin: 2.5px;
  border-radius: 8px;
  background: $light-gray;
  @include transition(0.5s);
}

.content-wrapper {
  display: block;
}

.icon-rep {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $text-light;
  font-size: 0.8em;
  cursor: pointer;
  @include transition(0.5s);
}

.collapse {
  cursor: pointer;
  @include transition(0.5s);

  .content-wrapper {
    display: none;
  }

  .icon-rep {
    display: block;
  }
}

.collapse:hover {
  background: $tab-gray;
  .icon-rep {
    //color: $primary-color;
  }
}

/* Animatronics Panel */

.motor-control,
.music-control {
  width: calc(100% - 40px);
  margin: 5px auto;

  p.info {
    font-weight: 400;
    color: $text-dark;
    font-size: 0.85em;
    padding: 2px 0px;

    span {
      color: $text-dark;
      font-size: 1em;
      font-weight: 600;
    }
  }

  input[type="number"],
  input[type="text"] {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    width: calc(100% - 20px);
  }

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 15px;
    background: $tab-gray;
    outline: none;
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(102, 154, 255, 0.1);
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(102, 154, 255, 0.1);
    cursor: pointer;
  }
}

.music-control {
  p.info {
    font-size: 0.8em;
    margin: 8px 4px;
  }

  .jukebox {
    width: calc(100% - 10px);
    padding: 5px;
    background: #fff;
    border-radius: 5px;
    outline: none;
    display: none;
    align-items: center;
    flex-wrap: wrap;

    i {
      color: $text-light;
      padding: 2px;
      margin: 2px;
      cursor: pointer;
      transform: scale(0.8);
      @include transition(0.5s);
    }

    i:hover {
      color: $blue;
      transform: scale(1);
    }

    .status-box {
      width: 100%;
      font-size: 0.6em;
      color: $text-light;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 600;
      margin: 0px 5px;
    }

    .source-box {
      width: 50%;
      height: 10px;
      border: 1px solid rgba(0, 0, 0, 0.05);
      padding: 5px;
      border-radius: 20px;
      margin: 4px;
      white-space: nowrap;
      overflow: hidden;
      font-size: 0.5em;
      color: $text-light;
      font-weight: 400;
    }

    .time-box {
      font-size: 0.65em;
      color: $text-dark;
      text-transform: uppercase;
      font-weight: 400;
    }
  }
}

/* Blocks */
.blocks-container {
  width: calc(100%);
  max-height: 0px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  margin: 5px 0px;
}

.blocks-container.open {
  overflow: visible !important;
  max-height: 1000px !important;
}

.block {
  margin: 0px;
  padding: 5px;
  padding-top: 0px;
  width: 185px;
  background: $blue;
  border-radius: 5px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  cursor: grab;
  z-index: 10000;

  .name {
    font-size: 0.5em;
    font-weight: 600;
    padding: 4px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
  }

  input,
  select {
    padding: 3px;
    width: calc(100% - 20px);
    border: 0px solid rgba(0, 0, 0, 0.1);
    outline: none;
    font-size: 0.7em;
    color: $text-dark;
    font-family: $mono;
    border-radius: 4px;
  }

  label {
    color: #fff;
    font-size: 0.7em;
    margin: 0px 5px;
  }

  .small-input {
    width: 30px;
  }

  .xs-input {
    width: 20px;
  }

  .medium-input {
    width: 70px;
  }

  .large-input {
    width: 90px;
  }

  select > option {
    font-family: $mono;
  }

  i.fas {
    font-size: 0.6em;
    color: #fff;
    margin: 2px;
  }
}

.board {
  .block {
    transform: scale(0.9);
  }

  .drop-area {
    .block {
      transform: scale(1);
    }
  }
}

span {
  color: #fff;
  font-size: 0.7em;
  margin: 0px 5px;
}

.thick {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.5em !important;
}

.action-block {
  background: $primary-color;
}

.control-block.ifthen {
  width: 201px;
  background: $purple;
}

.drop-area {
  width: 100%;
  margin: 0 auto;
  padding: 5px 0px;
  background: #fff;
  border-radius: 5px;
}

.board .block .drop-area {
  padding: 10px 0px;
}

.board .block .no-padding {
  padding: 0px 0px;
}

.board .block .more-padding {
  padding-bottom: 30px;
}

.control-block.delay {
  background: $yellow;
  padding: 5px 5px;
}

.control-block.followed,
.control-block.or {
  padding: 5px 5px;
  background: $orange;
}

.cue-block.start {
  padding: 5px 5px;
}

.control-block.repeat {
  width: 185px;
  background: $green;

  .block {
    width: 169px;
  }

  .drop-area {
    margin-top: 6px;
  }
}

.block:active {
  box-shadow: 0px 0px 0px 0.25rem rgba(255, 195, 139, 0.5) !important;
}

.drop-area .block:active {
  z-index: 10005 !important;
}

.board .block:active {
  z-index: 10001 !important;
}

.panel .block:active {
  z-index: 10001 !important;
}

.blocks-container .block {
  margin: 2px 0px;
}

.board .block {
  position: absolute;
}

/*Trash*/

.board .block.trash {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: auto;
  width: auto;
  padding: 20px;
  background: none;
  border: none;
  cursor: auto;
  outline: none !important;
  box-shadow: none !important;
}

.board .block .can {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2px;
  pointer-events: none;
  width: 18px;
  height: 20px;
  background: $trash-can;
  border: 2px solid $trash-border;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  @include transition(0.5s);

  i.fas {
    position: absolute;
    left: 4.5px;
    top: 4px;
    transform-origin: 50% 50%;
    transform: rotate(90deg);
    color: $trash-border;
  }

  .lid {
    position: absolute;
    left: -6px;
    top: -6px;
    width: calc(100% + 8px);
    height: 2px;
    background: $trash-can;
    border-radius: 4px;
    transform-origin: 50% 50%;
    border: 2px solid $trash-border;
    @include transition(0.5s);
  }

  .lid:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -6px;
    width: 8px;
    height: 2px;
    background: none;
    border-radius: 5px;
    border: 2px solid $trash-border;
    transform: translate(-50%, 0);
  }
}

.board .block.trash-open .lid {
  top: -30px;
  transform: rotate(20deg) translate(5px, 0px);
}

/* --------------------------------------------------
STORY
---------------------------------------------------*/

.story-wrapper {
  height: calc(100vh - 50px);
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.database {
  position: relative;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f1f6f9;
  border-radius: 5px;
}

.story-load-actions {
  margin: 30px 40px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  div {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin: 0px 6px;
    background: $blue;
    cursor: pointer;
    @include transition(0.5s);

    i {
      position: relative;
      top: calc(50% - 2px);
      left: 50%;
      transform: translate(-50%, -50%) scale(0.9);
      color: #fff;
    }
  }

  div:hover {
    box-shadow: 0 0 0 0.5rem rgba(102, 154, 255, 0.3);
  }
}

@keyframes listen-bubble {
  0% {
    box-shadow: 0 0 0 0rem rgba(102, 154, 255, 0.3);
  }

  50% {
    box-shadow: 0 0 0 0.7rem rgba(102, 154, 255, 0.3);
  }

  100% {
    box-shadow: 0 0 0 0rem rgba(102, 154, 255, 0.3);
  }
}

.listening {
  animation: listen-bubble 1s infinite;
}

textarea.type-story {
  margin: 30px 0px;
  padding: 10px;
  border: none;
  outline: none;
  background: none;
  color: $text-dark;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.5;
  height: calc(100% - 80px);
}

.tooltip {
  position: relative;
  overflow: visible;
}

.tooltip:after {
  content: attr(aria-label);
  position: absolute;
  top: calc(100% + 15px);
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 0.7em;
  color: #fff;
  padding: 8px 12px;
  background: $dark;
  border-radius: 6px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  @include smoothtransition(0.3s);
}

.tooltip:hover:after {
  top: calc(100% + 5px);
  opacity: 1;
}

.story-search {
  position: relative;
  width: calc(90%);
  margin: 5px 5%;

  input {
    width: calc(90% - 50px);
    border: none;
    outline: none;
    padding: 10px 10px;
    padding-right: 20px;
    background: #fff;
    color: $text-dark;
    font-size: 0.85em;
    border-radius: 5px;
    color: $text-dark;
  }

  i.fa-search {
    position: absolute;
    top: 50%;
    right: calc(20px + 18px);
    transform: translate(-100%, -50%);
    color: $text-light;
  }

  .filter-button {
    position: absolute;
    width: 40px;
    height: 36px;
    border-radius: 5px;
    background: #fff;
    top: 50%;
    right: 0px;
    transform: translate(0%, -50%);
    color: $text-light;
    cursor: pointer;

    i.fa-filter {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include transition(0.5s);
    }
  }

  .filter-button:hover {
    color: $primary-color;
  }
}

div.legend {
  margin: 2px 5%;
  font-size: 0.8em;
  width: 90%;
  padding: 0px;

  div.programmed-icon {
    height: 8px;
    width: 8px;
    background: #59d4a0;
    border-radius: 100%;
    display: inline-block;
    margin-left: 10px;
  }

  span {
    color: $text-light !important;
  }
}

.stories-data {
  margin: 8px 0px;
  height: calc(100% - 140px);
  overflow: auto;

  .story-item {
    position: relative;
    width: calc(100% - 40px);
    padding: 10px 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;
    @include transition(0.5s);

    p.story-name {
      font-size: 0.8em;
      color: $text-dark;
      margin: 0px;
      margin-bottom: 2px;
    }

    p.story-genre {
      text-transform: uppercase;
      color: $text-light;
      font-size: 0.6em;
      margin: 0px;
      font-weight: 500;
    }

    .programmed {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translate(0, -50%);
      height: 8px;
      width: 8px;
      background: #59d4a0;
      border-radius: 100%;
    }
  }

  .story-item:last-of-type {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  .story-item:hover {
    background: $tab-gray;
  }
}

/* --------------------------------
BLOCK GEN HIGHLIGHT
---------------------------------*/

@keyframes generated {
  0% {
    box-shadow: 0px 0px 0px 0px transparent;
  }

  60% {
    box-shadow: 0px 0px 0px 0.6rem #f0c77ca6;
  }

  100% {
    box-shadow: 0px 0px 0px 0.8rem transparent;
  }
}

.generate {
  animation: generated 0.5s;
}

/* --------------------------------
STORY READING
---------------------------------*/

.workspace.reading {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.story-read {
  position: relative;
  width: calc(75% - 20px);
  height: calc(100% - 40px);
  border-radius: 5px;
  margin: 20px;
  margin-right: 0px;
  padding: 0px;
  overflow: auto;
  overflow-x: hidden;
  @include transition(0.5s);

  p.story-paragraph {
    margin: 15px auto;
    width: calc(100% - 40px);
    color: $text-dark;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.75;
    text-align: justify;

    span.keyword {
      font-size: 1em;
      padding: 3px 5px;
      background: rgba(102, 154, 255, 0.1);
      border: 1px solid rgba(102, 154, 255, 0.3);
      border-radius: 4px;
      color: inherit;
      @include transition(0.5s);
    }
  }
}

.collapse-button {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(-50%, -50%);
  height: 32px;
  width: 32px;
  background: $blue;
  border-radius: 100%;
  z-index: 10000;
  box-shadow: 4px 4px 10px rgba(102, 154, 255, 0.1);
  cursor: pointer;
  @include transition(0.5s);

  i.arrow {
    position: absolute;
    top: 50%;
    left: calc(50% + 1px);
    transform: translate(-50%, -50%);
    color: #fff;
  }
}

.collapse-button:hover {
  background: #5c8ae5;
}

.collapse-button.uncollapse {
  transform: translate(-50%, -50%) rotate(180deg);
}

.collapsable-items {
  width: 100%;
  height: 100%;
  opacity: 1;
  @include transition(0.25s);
}

.monitoring-tabs {
  position: relative;
  width: calc(25% - 20px);
  height: calc(100% - 20px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
  border-left: 1px solid rgba(102, 154, 255, 0.2);
  @include transition(0.5s);
}

.expression-stream {
  position: relative;
  width: calc(100% - 20px);
  height: calc(18.75vw - 40px);
  background: $light-gray;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;

  canvas#face_video_canvas {
    transform: rotateY(180deg);
  }

  .emoji {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    z-index: 1000;
  }

  .start-stop {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 30px;
    width: 30px;
    background: rgb(211, 62, 62);
    color: #fff;
    border-radius: 100%;
    font-size: 1em;
    z-index: 1000;

    span.start,
    span.stop {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }

    span.start {
      display: none;
    }
  }

  div.vsc-controller {
    display: none !important;
  }

  .expression-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    font-size: 0.9em;
    color: $text-light;
    text-align: center;
  }
}

.animation-screen {
  position: relative;
  width: calc(100% - 20px);
  height: calc(14.0625vw - 40px);
  background: #fff;
  box-shadow: 0px 5px 20px rgba(102, 154, 255, 0.1);
  margin: 10px;
  border-radius: 5px;
}

.external-console {
  position: relative;
  width: calc(100% - 20px);
  height: calc(100% - (14.0625vw - 40px) - (18.75vw - 40px) - 40px);
  background: $light-gray;
  margin: 10px;
  border-radius: 5px;

  .listening-active {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 80px;
    height: 25px;
    border-radius: 15px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10000;
    @include transition(0.5s);

    span {
      color: $text-dark;
      margin: 0;
      font-size: 0.65em;

      .fas {
        color: $red;
        margin-right: 5px;
      }
    }

    @keyframes listen-bubble-red {
      0% {
        box-shadow: 0 0 0 0rem rgba(255, 102, 102, 0.3);
      }

      50% {
        box-shadow: 0 0 0 0.4rem rgba(255, 102, 102, 0.3);
      }

      100% {
        box-shadow: 0 0 0 0rem rgba(255, 102, 102, 0.3);
      }
    }

    .circle {
      margin-left: 8px;
      height: 6px;
      width: 6px;
      border-radius: 100%;
      background: $red;
      animation: listen-bubble-red 1s infinite;
    }
  }

  .listening-active:hover {
    box-shadow: 0 0 0 0.2rem rgba(255, 102, 102, 0.3);
  }

  .monitor-display {
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 52px);
    top: 42px;
    left: 50%;
    transform: translate(-50%, 0);
    background: #fff;
    border-radius: 5px;
    overflow: auto;

    p.message {
      width: calc(100% - 30px);
      font-size: 0.7em;
      font-weight: 400;
      color: $text-dark;
      margin: 5px auto;
      border-radius: 5px;
    }

    .fas,
    .far,
    .fab {
      margin-right: 5px;
      color: $green;
      font-size: 0.9em;
    }

    p.message:first-of-type {
      margin-top: 15px;
    }
  }
}

/* DARK READING MODE */

.dark-mode-label {
  font-size: 0.6em;
  color: $text-light;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.dark-switch {
  position: relative;
  height: 30px;
  width: 45px;
  background: $light-gray;
  margin: 0px 10px;
  border-radius: 35px;
  cursor: pointer;

  .toggler {
    height: calc(30px - 8px);
    width: calc(30px - 8px);
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    background: #fff;
    @include smoothtransition(0.5s);
  }
}

.dark-switch.dark-mode {
  background: rgba(102, 154, 255, 0.2);

  .toggler {
    background: rgba(102, 154, 255, 0.75);
  }
}

header.dark-mode {
  background: #322b2b;
  box-shadow: none;

  .tabs {
    .tab {
      background: rgba(255, 255, 255, 0.1);
      color: rgba(255, 255, 255, 0.7);
    }

    .tab:hover {
      background: rgba(255, 255, 255, 0.2);
    }

    i.transition-arrows {
      color: rgba(255, 255, 255, 0.25);
    }

    .selected {
      background: none !important;
      color: #fff !important;
      border: 2px solid $blue !important;
    }
  }
}

.workspace.dark-mode {
  background: #000;

  .story-read {
    background: none;

    .story-paragraph {
      color: #fff;
    }
  }

  .monitoring-tabs {
    .expression-stream {
      background: rgba(255, 255, 255, 0.1);
    }

    .external-console {
      background: #333;

      .monitor-display {
        background: #3e4143;

        p.message {
          color: #acb2b6;
        }
      }

      .listening-active {
        background: #3e4143;

        span {
          color: #acb2b6;
        }
      }
    }
  }
}
